@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}

nav{
  margin: 3px 0.5rem;
  border-radius: 2rem;
}


article{
  margin-left: 1rem;
}

.create{
  background-color: #006BFF;
  border: #006BFF solid 2px;
  padding: 2rem;
  border-radius: 1rem;
}

.projectContainer{
  padding: 2rem;
  border: #006BFF solid 2px;
  border-radius: 1rem;
  background-color: #006BFF;
  box-shadow: 4px 4px 5px rgba(0, 107, 255, 0.5);
}

.status{
  background-color: #E0E0E0;
  color: #333;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
}

.delete{
  background-color: #FF4D4D;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.delete:hover{
  background-color: #FF1A1A;
  cursor: pointer;
}

.description{
  margin-top: 2rem;
  text-align: center;
}

.edit{
  background-color: #4CAF50;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.edit:hover{
  background-color: #45a049;
  cursor: pointer;
}

.info{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 1rem 0;
}

.editproject{
  padding: 2rem;
  border: #4CAF50 solid 2px;
  border-radius: 1rem;
  background-color: #4CAF50;
  box-shadow: 4px 4px 5px rgba(76, 175, 80, 0.5);
}
